{% extends 'base.html.twig' %}

{% block title %} {{titreAccueil ?? 'Accueil'}}
{% endblock %}

{% block content %}
    {% for theme in themes %}
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">{{theme.name}}</a>
        </ul>
        
    {% endfor %}
   
{% endblock %}
