:root
{
    --darkColor : #20247b;
    --bgSkyBlue : #00c3ff;
}
body{
    padding-top: 200px;
    
}

@font-face {
    font-family: 'Cassandra';
    src: url('../fonts/cassandra.ttf') format('truetype');
}
.navbar.fixed-top{
    font-family: 'Segoe Print';
    font-size: 1em;
    
}
.navbar.fixed-top input{
    font-family: var(--bs-body-font-family);
}

.navbar-brand img{
    max-height: 48px;
    margin: -6px 0px;
}
#site_name{
    display: inline;
    
}

#site_name span{  
    font-size: 1em;
    position: relative;
    top: 16px;
    right: 16px;
}

.inscription
{
    color: var(--darkColor);
}
.bgInscription
{
    background-color: var(--bgSkyBlue);
}

.login
{
    width: 500px;
}

textarea
{
    resize: none;
}

.taille
{
    width: 50px;
    height: 50px;
    
}




                                        