:root
{
    --darkColor : #20247b;
    --bgSkyBlue : #00c3ff;
    --bgGray : rgb(49, 49, 49);
}
body{
    padding-top: 53px;
    margin-bottom: 53px;
}
main{
    margin: 1em auto;
}

.nopad{
    padding: 0 !important;
}

.bg-menu{
    background-color: var(--bgGray);
    min-height: calc(100vh - 106px);
  
}
.Pr{
    margin-right: -10px !important;
}
.card-body h2{
 text-decoration: underline;
}
@font-face {
    font-family: 'Cassandra';
    src: url('../fonts/cassandra.ttf') format('truetype');
}
.navbar.fixed-top{
    font-family: 'Segoe Print';
    font-size: 1em;
    
}
.navbar.fixed-top input{
    font-family: var(--bs-body-font-family);
}

.navbar-brand img{
    max-height: 48px;
    margin: -6px 0px;
}
#site_name{
    display: inline;
    
}

#site_name span{  
    font-size: 1em;
    position: relative;
    top: 16px;
    right: 16px;
}

.inscription
{
    color: var(--darkColor);
}
.bgInscription
{
    background-color: var(--bgSkyBlue);
}

.login
{
    width: 500px;
}

textarea
{
    resize: none;
}

.taille
{
    width: 50px;
    height: 50px;
    
}
/* CSS des Articles */
.article_box{
    margin: 3em;
    border: solid 1px darkgrey;
    border-radius: 5px;
    box-shadow:1px 1px 12px darkgrey;
    max-width:90% ;
    text-align: center;
    font-family: cursive;

}
.article_title{
    
    text-decoration: underline;

}



                                        